# Census Income Final Project

In [39]:
# Importing Dependencies
import pandas as pd
import numpy as np
import statsmodels.api as sm
import random
import seaborn as sns

## Data Cleaning and Preparation

A portion of the data cleaning/preparation process involved converting the data into a csv file.<br>

For this project, we'll be using the education, race, income features to evaluate if race and education level significantly effects an individual's likelihood of earning over or under $50,000 per year.<br>

Below is a filtered version of the census dataset that only includes the filtered feature columns.

In [37]:
data = pd.read_csv('census.csv', sep= ',', usecols=['race','education','income'])
data

         education    race  income
0        Bachelors   White   <=50K
1          HS-grad   White   <=50K
2             11th   Black   <=50K
3        Bachelors   Black   <=50K
4          Masters   White   <=50K
...            ...     ...     ...
32555   Assoc-acdm   White   <=50K
32556      HS-grad   White    >50K
32557      HS-grad   White   <=50K
32558      HS-grad   White   <=50K
32559      HS-grad   White    >50K

[32560 rows x 3 columns]

Immediately, we notice that there are far more observations for white individuals than any other race in the dataset. <br>

Therefore, we'll take a random sample of 150 individuals from each race to fairly conduct our statistical analysis.

In [5]:
data['race'].value_counts()

 White                 27815
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [ ]:
# Converting Income to a 1 or 2

In [35]:
np.random.seed(0)

white_sample = data.loc[data['race'] == 'White'].sample(n=150)

white_sample

           education   race  income
22278   Some-college  White    >50K
8950    Some-college  White   <=50K
7838         7th-8th  White   <=50K
16505   Some-college  White   <=50K
19140        7th-8th  White   <=50K
...              ...    ...     ...
22395           12th  White   <=50K
24464        Masters  White    >50K
11215        Masters  White   <=50K
8850    Some-college  White   <=50K
25054   Some-college  White    >50K

[150 rows x 3 columns]

## Exploratory Data Analysis

In [38]:
data.describe()

       education    race  income
count      32560   32560   32560
unique        16       5       2
top      HS-grad   White   <=50K
freq       10501   27815   24719

## Model Selection and Analysis

In [ ]:
# Write code to add two integers